.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.todo-data li{
  border: 1px solid;
  margin: 0px auto;
  width: 9%;
  text-align: left;
  padding: 10px 5px;
}

.input-box{
  width: 10%;
  padding: 10px 5px;
}

.cursor-pointer{
  cursor: pointer;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-footer{
  display: flex;
  justify-content: center;
}

.todo-footer div{
  padding: 0 10px;
}

.App-header ul a {
  padding-right: 15px;
}

.App-link {
  color: #61dafb;
}

